<div class="container">
    <div class="row">
        <h1>商品一覧</h1>
         <table class="table">
             <thead>
                 <tr>
                     <th>商品ID</th>
                     <th>商品名</th>
                     <th>税抜価格</th>
                     <th>ジャンル</th>
                     <th>ステータス</th>
                 </tr>
             </thead>
             <tbody>
                 <% @items.each do |item| %>
                 <tr>
                     <th><%= item.id %></th>
                     <th><%= item.name %></th>
                     <th><%= item.tax_excluded_price %></th>
                     <th></th>
                     <th>
                        <% if item.is_sold == false %>
                          販売停止中
                        <% else %>
                          販売中
                        <% end %>
                     </th>
                 </tr>
                 <% end %>
             </tbody>
         </table>
    </div>
</div>





