<h3 class="border-top border-bottom text-center p-2">
  <strong>商品検索結果</strong>
</h3>
<div class="conteiner">
  <div class="row mb-3">
    <div class="col-11">
      <div class="d-flex">
        <% @items.each do |item| %>
          <div class="col-3 text-center">
            <%= link_to item_path(item.id), class: "text-dark font-weight-bold" do %>
              <%= image_tag item.image, size: '180x140' %></br>
              <%= item.name %></br>
              ¥ <%= item.add_tax_tax_excluded_price.to_s(:delimited) %>(税込)
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>