<div class="container">
  <p></p>
  <h1 class="display-3"><strong>About</strong></h1>
  <p></p></br>
  <span class="p-5">ながのCakeは全国発送可能なケーキ屋さんです。</span></br>
  <p></p></br>
  <span class="p-5">お子様からお年寄りまでお召しいただけるよう、様々なバリエーションをご用意しております。</span></br>
  <p></p></br>
  <span class="p-5">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</span></br>
  <p></p></br>
  <span class="p-5">ぜひ、ご注文ください。</span></br>
  <p></p></br>
</div>
<%= link_to image_tag('back.png', class:"img-fluid"), items_path %>