<div class="container">
  <h1 class="display-3">About</h1>
  <p></p>
  ながのCakeは全国発送可能なケーキ屋さんです。</br><p></p>
  お子様からお年寄りまでお召しいただけるよう、様々なバリエーションをご用意しております。</br><p></p>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br><p></p>
  ぜひ、ご注文ください。</br>
  <p></p>
</div>
<%= link_to image_tag('back.png', class:"img-fluid"), root_path %>