<div class="container">
  <h2 class="pl-5">注文履歴詳細</h2>
  <table class="table table-hover table-borderless">
    <tr class="row">
      <th>購入者</th>
      <td>a</td>
    </tr>

    <tr class="row">
      <th>注文日</th>
      <td>a</td>
    </tr>

    <tr class="row">
      <th>配送先</th>
      <td>a</td>
    </tr>

    <tr class="row">
      <th>支払い方法</th>
      <td>a</td>
    </tr>

    <tr class="row">
      <th>注文ステータス</th>
      <td>a</td>
    </tr>
  </table>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </tr>
    </thead>
  </table>

  <table class="table table-hover table-borderless">
    <tr class="row">
      <th>商品合計</th>
      <td>a</td>
    </tr>

    <tr class="row">
      <th>送料</th>
      <td>a</td>
    </tr>

     <tr class="row">
      <th>請求金額合計</th>
      <td>a</td>
    </tr>
  </table>
</div>