<div class="container text-center">
  <p class="p-5 m-4"></p>

  <h3><strong>ご注文ありがとうございました！</strong></h3>
  <p></p></br>
  <h6><%= link_to "TOPページへ戻る", root_path %></h6>

  <p class="p-5 m-5"></p>
</div>